<div class="row detailed-style">
	<div class="row pictures-info">
		<div class="col-sm-6 detailed">
			<div class="gallery">
					<div class="pic">
				
					</div>
					
			</div>
			<div class="small-gallery">
					
					<div class="small-pics">

						<div class="col-sm-4 pic1">
							<div class="little pic-thumb1"></div>
						</div>

						<div class="col-sm-4 pic2">
							<div class="little pic-thumb2"></div>
						</div>
						<div class="col-sm-4 pic3">
							<div class="little pic-thumb3"></div>
						</div>
					</div>
			</div>
		</div>
		<div class="col-sm-6 prod-info-main">

			<div class="prod-info-sub">
				<h2>Gel-Fujitrabuco 5 G-Tx</h2>
				<img src="../../../img/brandlogo.png" width="180px">
			</div>
			
		</div>
	</div>


	<div class="row desc-shipp-size">
		<div class="col-sm-6 detailed">

		</div>
	</div>
</div>