<div class="row detailed-style">
	<div class="row pictures-info">
		<div class="col-sm-6 detailed">
			<div class="gallery">
					<div class="pic">
				
					</div>
					
			</div>
			<div class="small-gallery">
					
					<div class="small-pics">

						<div class="col-sm-4 pic1">
							<div class="little pic-thumb1"></div>
						</div>

						<div class="col-sm-4 pic2">
							<div class="little pic-thumb2"></div>
						</div>
						<div class="col-sm-4 pic3">
							<div class="little pic-thumb3"></div>
						</div>
					</div>
			</div>
		</div>
		<div class="col-sm-6 prod-info-main">

			<div class="prod-info-sub">
				<span class="product-title">Gel-Fujitrabuco 5 G-Tx</span>
				<div class="logo-price">
					<img src="../../../img/brandlogo.png" width="200px" height=" 82px">
					<div class="price"><span>kr 947.90</span></div>
				</div>
				<div class="discount">
					<div class="original-price">
					<span class="amount">k̶r̶ ̶1̶1̶1̶5̶.̶2̶4̶</span>
					<span class="saving">You save 15.00%</span>
					</div>
				</div>
				<div class="size">
					<div class="size-amount">
						<span class="sz s-a">Size</span>
						<span class="am s-a">Amount</span>
						<form action="#">

							  <input class="input-size" type="text" name="info" placeholder="EU 45 Black" >
							  <input class="input-amount" type="text" name="info" placeholder="1">
							  <input type="submit" value="Buy now">
						</form>
					
					</div>
				</div>

			</div>
			
		</div>
	</div>


	
</div>
<div class="sec-column">
<div class="row desc-shipp-size">
		<div class="col-sm-12">
			<div class="col-sm-6 buttons">
				<a href="#">Description</a>
					<a href="#">Shipping</a>
					<a href="#">Sizing</a>
				

			</div>
		</div>

		<div class="col-sm-12 border">
			<div class="col-sm-12 text">


				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum<br><br>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum<br><br>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
				</p>


			</div>
		</div>
		

		
	</div>
</div>