.detailed-style {
  padding: 15px 105px 0 105px; }
  .detailed-style .pictures-info .detailed .gallery {
    margin: 15px;
    border: 2px solid #ededed;
    padding: 15px;
    overflow: hidden; }
    .detailed-style .pictures-info .detailed .gallery .pic {
      width: 50%;
      padding-bottom: 75%;
      margin: auto;
      /* height: 121%; */
      max-width: 600px;
      min-width: 300px;
      min-height: 436px;
      /* 16:9 */
      position: relative;
      -webkit-background-size: 100% auto;
      -moz-background-size: 100% auto;
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url(../../../img/shoebig.png); }
  .detailed-style .pictures-info .detailed .small-gallery {
    display: flex;
    margin: 5px; }
    .detailed-style .pictures-info .detailed .small-gallery .small-pics {
      width: 100%;
      display: flex;
      /* align-items: center; */
      justify-content: space-between; }
      .detailed-style .pictures-info .detailed .small-gallery .small-pics .col-sm-4 {
        width: 33%;
        display: inline-block;
        border: 2px solid #ededed;
        margin: 0px 10px;
        /* height: 121%; */
        /* 16:9 */
        position: relative;
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center center; }
        .detailed-style .pictures-info .detailed .small-gallery .small-pics .col-sm-4 .little {
          width: 100%;
          overflow: hidden;
          padding-bottom: 100%;
          background-size: 100% auto;
          background-repeat: no-repeat;
          background-position: center center; }
        .detailed-style .pictures-info .detailed .small-gallery .small-pics .col-sm-4 .pic-thumb1 {
          background-image: url(../../../img/thumb1.png); }
        .detailed-style .pictures-info .detailed .small-gallery .small-pics .col-sm-4 .pic-thumb2 {
          background-image: url(../../../img/thumb2.png); }
        .detailed-style .pictures-info .detailed .small-gallery .small-pics .col-sm-4 .pic-thumb3 {
          background-image: url(../../../img/thumb3.png); }
