.sign-up {
    .col-sm-12 {
        background: $orange;
        padding: 15px 120px 15px 120px;
        display: flex;
        align-items: center;

        .col-sm-6 {
            padding: 0px;

            h3 {
                text-transform: uppercase;
                color: $white;
            }
        }

        .form {
            form {
                float: right;

                input[type=text] {
                    padding: 5px 25px;
                    border: none;
                    background-color: $white;
                    color: $lettergray;
                    text-transform: uppercase;
                    margin-right: 10px;
                }

                input[type=submit] {
                    padding: 5px 25px;
                    border: none;
                    background-color: #ff674f;
                    color: $white;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media screen and (max-width: 925px) {
    .sign-up {
        .col-sm-12 {
            display: block !important;
            height: 180px;
            float: none !important;

            .col-sm-6 {
                float: none !important;
                width: 100% !important;
                text-align: center;
                padding: 5px;
                margin-bottom: 20px;
            }

            .form {
                display: flex;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 705px) {
    .sign-up {
        .col-sm-12 {
            height: 180px;
        }
    }
}

@media screen and (max-width: 520px) {
    .sign-up {
        .col-sm-12 {
            height: 220px;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 30px 60px 0 60px !important;
    }
}