ul {
  display: inline-block;
  width: 100%;
  padding-left: 0px; }
  ul li {
    display: inline-block;
    margin-right: 6%; }

p {
  margin: 10px 0px; }

.menu {
  padding: 0px; }

.top-logo, .top-info, .telephone, .email, .checkout, .hamburger {
  display: inline-block; }
  .top-logo p, .top-info p, .telephone p, .email p, .checkout p, .hamburger p {
    display: inline-block; }

.telephone, .email, .checkout {
  font-size: 14px; }

.header {
  text-transform: uppercase;
  padding: 30px 120px 0 120px;
  background-color: #fff;
  position: relative; }
  .header .row .top-data {
    letter-spacing: 1px;
    color: #7e7f84;
    padding: 0px; }
    .header .row .top-data .col-sm-6 {
      padding-left: 0px;
      padding-right: 0px;
      width: 40%; }
    .header .row .top-data .top-info {
      width: 60%;
      text-align: right;
      padding-right: 0px;
      margin-top: -15px; }
      .header .row .top-data .top-info div {
        padding: 0px 12px; }
        .header .row .top-data .top-info div img {
          margin-right: 10px;
          margin-bottom: 4px; }
        .header .row .top-data .top-info div p {
          margin: 0px; }
      .header .row .top-data .top-info .checkout {
        background-color: #ededed;
        float: right; }
        .header .row .top-data .top-info .checkout p {
          padding: 15px; }
      .header .row .top-data .top-info .phone-email {
        padding-top: 14px; }
  .header .row .nav-menu {
    padding: 0px; }
  .header .row .col-sm-12 .navigation {
    font-size: 18px;
    padding: 0px; }
    .header .row .col-sm-12 .navigation ul li a {
      font-size: 14px;
      text-decoration: none;
      color: #7e7f84; }
      .header .row .col-sm-12 .navigation ul li a:hover {
        color: #f45a40; }
  .header .row .col-sm-12 .search {
    font-size: 18px;
    padding: 0px; }
    .header .row .col-sm-12 .search ul li a img {
      margin-bottom: 4px;
      margin-right: 10px; }
  .header .row div .search {
    text-transform: none;
    color: #7e7f84; }

.thick-border {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  border-top: 3px solid #f45a40;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0;
  z-index: 2;
  position: relative; }

.thin-border {
  border: 0;
  border-top: 1px solid #f45a40;
  -webkit-margin-before: 2px;
  -webkit-margin-after: 0;
  z-index: 2;
  position: relative; }

@media screen and (max-width: 1050px) {
  .header {
    padding: 30px 60px 0 60px !important; } }

@media screen and (max-width: 1150px) {
  .email p,
  .telephone p {
    display: none; } }

@media screen and (max-width: 480px) {
  .header {
    padding: 20px !important; }
    .header .row .top-data .col-sm-6 {
      text-align: center !important;
      width: 100% !important; } }

@media screen and (max-width: 768px) {
  .header .row .top-data .top-info {
    margin-top: 15px;
    width: 100%; }
    .header .row .top-data .top-info .checkout {
      float: none;
      width: 100%;
      text-align: center; }
    .header .row .top-data .top-info .phone-email {
      text-align: center; } }

.Site {
  overflow: hidden; }
  .Site .Site-content slider .bg {
    background-image: url(../../../img/image.png);
    min-width: 1070px;
    height: 510px;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff; }
    .Site .Site-content slider .bg .main-div {
      display: flex;
      align-items: center;
      height: 100%;
      width: 101%; }
      .Site .Site-content slider .bg .main-div .sidenote {
        width: 345px;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 0 0px 0 120px;
        width: 44%;
        height: 290px;
        max-width: 650px;
        display: flex;
        align-items: center; }
        .Site .Site-content slider .bg .main-div .sidenote .slider-text h1 {
          margin: 0px; }
        .Site .Site-content slider .bg .main-div .sidenote .slider-text p {
          width: 90%; }
        .Site .Site-content slider .bg .main-div .sidenote .slider-text button {
          background-color: #f45a40;
          color: #fff;
          border: none;
          outline: 0;
          text-transform: uppercase;
          padding: 8px 30px; }

@media screen and (max-width: 1050px) {
  .sidenote {
    width: 66%  !important;
    height: 290px !important;
    max-width: 1920px !important;
    padding: 0px 0px 0 60px !important; }
    .sidenote .slider-text p {
      width: 67%; } }

@media screen and (max-width: 770px) {
  .bg {
    min-width: initial !important;
    height: 290px !important;
    width: 150%  !important; } }

@media screen and (max-width: 480px) {
  .bg {
    min-width: 1070px !important;
    height: 510px !important;
    width: 150%  !important; }
    .bg .main-div .sidenote {
      height: 100% !important;
      padding: 0 0px 0 30px !important; }
      .bg .main-div .sidenote h1 {
        width: 46%; }
      .bg .main-div .sidenote p {
        width: 46% !important; } }

.popular {
  padding: 70px 105px 0 105px; }
  .popular .col-sm-4 img {
    width: 100%;
    min-width: 160px; }
  .popular .col-sm-4 a {
    text-transform: uppercase;
    color: #f45a40; }

@media screen and (max-width: 1050px) {
  .popular {
    padding: 70px 45px 0 45px; } }

@media screen and (max-width: 480px) {
  .popular {
    padding: 70px 10px 0 10px; } }

.popular-title {
  padding: 30px 0px; }
  .popular-title div .strike {
    display: block;
    text-align: center; }
    .popular-title div .strike > h3 {
      position: relative;
      display: inline-block;
      color: #7e7f84; }
    .popular-title div .strike > h3:before, .popular-title div .strike > h3:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 129px;
      height: 1px;
      background: #ededed; }
    .popular-title div .strike > h3:before {
      right: 100%;
      margin-right: 15px; }
    .popular-title div .strike > h3:after {
      left: 100%;
      margin-left: 15px; }

.popular-list {
  padding: 30px 105px 0 105px; }
  .popular-list .col-sm-3 {
    margin: 0px 10px 45px 10px;
    border: 1px solid #ededed;
    min-width: 200px;
    width: 21%;
    padding-right: 0px;
    padding-left: 0px; }
    .popular-list .col-sm-3 .popular-img {
      padding: 10px 15px 0px 15px; }
      .popular-list .col-sm-3 .popular-img .stars .fa-star {
        color: #f45a40; }
      .popular-list .col-sm-3 .popular-img .thumbn {
        width: 100%;
        margin: 30px 0px; }
    .popular-list .col-sm-3 .popular-desc {
      padding: 5px 15px;
      border-top: 1px solid #ededed; }
      .popular-list .col-sm-3 .popular-desc a {
        text-decoration: none;
        color: #7e7f84;
        text-transform: uppercase; }
        .popular-list .col-sm-3 .popular-desc a h4 {
          margin-bottom: 5px;
          margin-top: 5px;
          font-weight: bold; }
      .popular-list .col-sm-3 .popular-desc h5 {
        font-size: 13px;
        text-transform: uppercase;
        margin-bottom: 5px;
        margin-top: 5px; }
      .popular-list .col-sm-3 .popular-desc p {
        text-transform: none;
        margin-bottom: 5px;
        margin-top: 5px;
        line-height: 15px;
        border-bottom: 1px solid #ededed;
        padding-bottom: 5px; }
    .popular-list .col-sm-3 .popular-price-and-icons {
      padding: 0px 15px;
      padding-bottom: 15px; }
      .popular-list .col-sm-3 .popular-price-and-icons .money-icon {
        display: inline-block; }
      .popular-list .col-sm-3 .popular-price-and-icons .extra-icons {
        display: inline-block;
        float: right; }
        .popular-list .col-sm-3 .popular-price-and-icons .extra-icons .thumbn {
          margin-bottom: 4px; }
    .popular-list .col-sm-3 .popular-buy {
      padding: 0px 15px;
      text-align: center;
      background: #f45a40;
      padding: 10px 15px; }
      .popular-list .col-sm-3 .popular-buy a {
        color: #fff;
        text-transform: uppercase;
        width: 100%; }

@media screen and (min-width: 767px) {
  .popular-list .col-sm-3 {
    width: 21%; } }

@media screen and (min-width: 1500px) {
  .popular-list .col-sm-3 {
    width: 22.93%; } }

@media screen and (max-width: 767px) {
  .popular-list .col-sm-3 {
    width: 100%; } }

@media screen and (max-width: 1050px) {
  .popular-list {
    padding: 30px 45px 0 45px; }
    .popular-list .col-sm-3 {
      margin: 0px 10px 45px 10px; } }

.sign-up .col-sm-12 {
  background: #f45a40;
  padding: 15px 120px 15px 120px;
  display: flex;
  align-items: center; }
  .sign-up .col-sm-12 .col-sm-6 {
    padding: 0px; }
    .sign-up .col-sm-12 .col-sm-6 h3 {
      text-transform: uppercase;
      color: #fff; }
  .sign-up .col-sm-12 .form form {
    float: right; }
    .sign-up .col-sm-12 .form form input[type=text] {
      padding: 5px 25px;
      border: none;
      background-color: #fff;
      color: #7e7f84;
      text-transform: uppercase;
      margin-right: 10px; }
    .sign-up .col-sm-12 .form form input[type=submit] {
      padding: 5px 25px;
      border: none;
      background-color: #ff674f;
      color: #fff;
      text-transform: uppercase; }

@media screen and (max-width: 925px) {
  .sign-up .col-sm-12 {
    display: block !important;
    height: 180px;
    float: none !important; }
    .sign-up .col-sm-12 .col-sm-6 {
      float: none !important;
      width: 100% !important;
      text-align: center;
      padding: 5px;
      margin-bottom: 20px; }
    .sign-up .col-sm-12 .form {
      display: flex;
      justify-content: center; } }

@media screen and (max-width: 705px) {
  .sign-up .col-sm-12 {
    height: 180px; } }

@media screen and (max-width: 520px) {
  .sign-up .col-sm-12 {
    height: 220px; } }

@media screen and (max-width: 768px) {
  .footer {
    padding: 30px 60px 0 60px !important; } }

.footer {
  background-color: #2a2d34;
  color: #fff;
  padding: 15px 120px 15px 120px; }
  .footer .col-sm-4 {
    padding: 0px; }
  .footer h3 {
    text-transform: uppercase; }
  .footer span {
    color: #7e7f84; }
  .footer .stories div {
    margin-bottom: 20px; }
  .footer .stories .social-media i {
    font-size: 25px;
    padding-right: 10px; }
  .footer .posts div {
    padding-right: 50px;
    margin-bottom: 20px; }
    .footer .posts div .white {
      color: #fff; }
  .footer .support div {
    display: inline-block;
    float: left;
    width: 150px; }
    .footer .support div ul li {
      color: #7e7f84;
      display: block; }
  .footer .support .first-column {
    position: absolute; }
  .footer .support .second-column {
    position: relative;
    left: 183px; }

@media screen and (max-width: 768px) {
  .first-column {
    display: block !important;
    position: inherit !important; }
  .second-column {
    float: none !important;
    position: inherit !important;
    display: block !important;
    left: 0px !important; } }

@media screen and (max-width: 1050px) {
  .footer {
    padding: 30px 60px 0 60px !important; } }

.contact-us {
  padding: 0px 120px 00px 120px;
  text-transform: uppercase;
  color: #7e7f84;
  overflow: hidden; }
  .contact-us div form h2 {
    margin: 45px 0px; }
  .contact-us div form label {
    display: block;
    margin-bottom: 15px; }
    .contact-us div form label span {
      display: inline-block;
      width: 20%;
      font-size: 14px;
      font-weight: 100; }
    .contact-us div form label #email {
      width: 80%; }
    .contact-us div form label #name {
      width: 80%; }
    .contact-us div form label input[type=submit] {
      display: block;
      background-color: #f45a40;
      color: #fff;
      border: none;
      outline: 0;
      text-transform: uppercase;
      padding: 8px 30px; }
    .contact-us div form label input[type=text] {
      padding: 5px; }
    .contact-us div form label #feedback {
      display: block;
      margin: 5px 0px 15px 0px; }
    .contact-us div form label textarea {
      width: 100%;
      padding: 5px; }

.detailed-style {
  padding: 15px 105px 0 105px; }
  .detailed-style .pictures-info .detailed .gallery {
    margin: 15px;
    border: 2px solid #ededed;
    padding: 15px;
    overflow: hidden; }
    .detailed-style .pictures-info .detailed .gallery .pic {
      width: 50%;
      padding-bottom: 75%;
      margin: auto;
      /* height: 121%; */
      max-width: 600px;
      min-width: 300px;
      min-height: 436px;
      /* 16:9 */
      position: relative;
      -webkit-background-size: 100% auto;
      -moz-background-size: 100% auto;
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url(../../../img/shoebig.png); }
  .detailed-style .pictures-info .detailed .small-gallery {
    display: flex;
    margin: 5px; }
    .detailed-style .pictures-info .detailed .small-gallery .small-pics {
      width: 100%;
      display: flex;
      /* align-items: center; */
      justify-content: space-between; }
      .detailed-style .pictures-info .detailed .small-gallery .small-pics .col-sm-4 {
        width: 33%;
        display: inline-block;
        border: 2px solid #ededed;
        margin: 0px 10px;
        /* height: 121%; */
        /* 16:9 */
        position: relative;
        -webkit-background-size: 100% auto;
        -moz-background-size: 100% auto;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center center; }
        .detailed-style .pictures-info .detailed .small-gallery .small-pics .col-sm-4 .little {
          width: 100%;
          overflow: hidden;
          padding-bottom: 100%;
          background-size: 100% auto;
          background-repeat: no-repeat;
          background-position: center center; }
        .detailed-style .pictures-info .detailed .small-gallery .small-pics .col-sm-4 .pic-thumb1 {
          background-image: url(../../../img/thumb1.png); }
        .detailed-style .pictures-info .detailed .small-gallery .small-pics .col-sm-4 .pic-thumb2 {
          background-image: url(../../../img/thumb2.png); }
        .detailed-style .pictures-info .detailed .small-gallery .small-pics .col-sm-4 .pic-thumb3 {
          background-image: url(../../../img/thumb3.png); }

.row {
  margin-right: 0px;
  margin-left: 0px; }

body {
  font-family: 'PT Sans', sans-serif; }

hr {
  margin-top: 25px;
  margin-bottom: 5px; }

h1 {
  font-size: 60px;
  color: #fff; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }
