@import "header/menu";

@import "main/slider";
@import "main/topics";
@import "main/popular-products";
@import "footer/signup";

@import "footer/footer";

//Cssosslsors

$lettergray: #7e7f84;
$orange: #f45a40;
$lighgray: #ededed;
$white: #fff;
$semi-tp-black: rgba(black, 0.6);
$footer: #2a2d34;

.row {
    margin-right: 0px;
    margin-left: 0px;
}

//

body {
    font-family: 'PT Sans', sans-serif;
}

hr {
    margin-top: 25px;
    margin-bottom: 5px;
}

h1 {
    font-size: 60px;
    color: $white;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

//