$lettergray: #7e7f84;
$orange: #f45a40;
$lighgray: #ededed;
$white: #fff;
$semi-tp-black: rgba(black, 0.6);

#demoHeader {
    height: 350px;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;

    div {
        display: flex;
        align-items: center;
        height: 100%;

        div {
            flex: 1;
        }
    }
}

.header1 {
    background-image: url(https://davidwalsh.name/demo/background-size-1.jpg);
}