$lettergray: #7e7f84;
$orange: #f45a40;
$lighgray: #ededed;
$white: #fff;
$semi-tp-black: rgba(black, 0.6);

.Site {
    overflow: hidden;

    .Site-content {
        slider {
            .bg {
                background-image: url(../../../img/image.png);
                min-width: 1070px;
                height: 510px;
                -webkit-background-size: 100% auto;
                -moz-background-size: 100% auto;
                background-size: 100% auto;
                background-repeat: no-repeat;
                background-position: center center;
                color: $white;

                .main-div {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    width: 101%;

                    .sidenote {
                        width: 345px;
                        background-color: rgba(0, 0, 0, 0.6);
                        padding: 0 0px 0 120px;
                        width: 44%;
                        height: 290px;
                        max-width: 650px;
                        display: flex;
                        align-items: center;

                        .slider-text {
                            h1 {
                                margin: 0px;
                            }

                            p {
                                width: 90%;
                            }

                            button {
                                background-color: $orange;
                                color: $white;
                                border: none;
                                outline: 0;
                                text-transform: uppercase;
                                padding: 8px 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .sidenote {
        width: 66%  !important;
        height: 290px !important;
        max-width: 1920px !important;
        padding: 0px 0px 0 60px !important;

        .slider-text {
            p {
                width: 67%;
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .bg {
        min-width: initial !important;
        height: 290px !important;
        width: 150%  !important;
    }
}

@media screen and (max-width: 480px) {
    .bg {
        min-width: 1070px !important;
        height: 510px !important;
        width: 150%  !important;

        .main-div {
            .sidenote {
                height: 100% !important;
                padding: 0 0px 0 30px !important;

                h1 {
                    width: 46%;
                }

                p {
                    width: 46% !important;
                }
            }
        }
    }
}