.popular {
    padding: 70px 105px 0 105px;

    .col-sm-4 {
        img {
            width: 100%;
            min-width: 160px;
        }

        a {
            text-transform: uppercase;
            color: $orange;

            h2 {}
        }
    }
}

@media screen and (max-width: 1050px) {
    .popular {
        padding: 70px 45px 0 45px;
    }
}

@media screen and (max-width: 480px) {
    .popular {
        padding: 70px 10px 0 10px;
    }
}