<div class="col-sm-12">

	<div class="row contact-us">
		<div class="col-sm-6">
			
			 <form>
			    <h2>Contact Form</h2>
			    <label>
			      <span>Name:</span><input id="name" type="text" name="name" placeholder="Your name"/>
			    </label>

			    <label>
			      <span>Email:</span><input id="email" type="text" name="email" placeholder="Your email" />
			    </label>

			   
			    <label>
			      <span>Message:</span><textarea id="feedback" name="feedback" placeholder="Yosasaur name"></textarea>
			      <input type="submit" value="Submit Form" />
			    </label>
			</form>
			  
			
		</div>
	</div>
</div>